@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-top: 1in;
  margin-bottom: 1in;
}

body {
  font-family: Arial, Verdana, sans-serif;
  line-height: 130%;
  font-size: 12pt;
}

.overview {
  display: flex;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
}

.overview h1, .overview h2 {
  // Reduce margin bottom
}

.overview div p {
  color: #AAA;
}
