textarea {
  height: 10em;
}
.map {
  height: 600px;
}
.overview {
  width: 100%;
  border-collapse: collapse;
}
.overview th:first-child {
  text-align: left;
}
.overview th + th, td + td {
  text-align: right;
}
